@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 2rem;
    font-family: 'Fredoka One', cursive;
    background-color: #fefefe;
}

.hflex{
    display: flex;
}

.vflex{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 5rem;
    margin: 0;
    text-align: center;
}

#page{
    max-width: 1200px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#frame-shadow{
    background: linear-gradient(180deg, #FF6060 0%, #E91717 10.54%, #D90A0A 97.92%);
    border-radius: 4rem;
    padding: 1rem;
    box-shadow: 0px 7px 15px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
}

#frame{
    background: linear-gradient(180deg, #EC1717 -8.51%, #F52E2E 29.25%, #EC1717 85.27%);
    border-radius: 3rem;
    padding: 2rem 4rem 4rem 4rem;
}

#logo{
    position: relative;
}

#logo-main, #logo-highlight, #logo-shadow{
    position: inherit;
}

/*Remove whitespace left from moving out of relative positions*/
#logo-highlight, #logo-shadow{
    margin-top: -5rem;
}

#logo-main{
    z-index: 3;
    color: #EC1717;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

#logo-highlight{
    z-index: 1;
    color: #FF6060;
    top: 7rem;
    right: 0.05rem;
}

#logo-shadow{
    z-index: 2;
    color: #D90A0A;
    text-shadow: 0px 2px 15px rgba(180, 10, 10, 0.574);
    top: 6.5rem;
}

#main-cont{
    justify-content: space-between;
}

#vert-cont{
    width: 70%;
}

#inner-frame{
    background: #F0DA11;
    border-radius: 1rem;
    border: 30px solid #F0DA11;
    height: 60vh;
    margin-bottom: 2rem;
    overflow: hidden;
}

button{
    position: relative;
    background: linear-gradient(180deg, #FFED48 0%, #EAD413 100%);
    padding: 2rem 0.5rem;
    border-radius: 1rem;
    border: rgb(251, 158, 28) 3px solid;
    margin-bottom: 1rem;
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    color: #F0DA11;
    text-shadow: 0px -1px 3px rgba(229, 103, 71, 0.65), 
                 0px 2px 15px rgba(229, 141, 9, 0.4), 
                 0px 2px 0px #DA9A3B,
                 -1px 2px 0px #DA9A3B,
                 2px 2px 0px #DA9A3B;
}

button:active{
    border: rgba(203, 0, 0) 3px solid;
    box-shadow: inset 0px 0px 2px 2px rgba(156, 5, 5, 0.3);
    top: 0.1rem;
}

.grid{
    display: grid;
}

.sixteen-dpi{
    grid-template-columns: repeat(16, 1fr);
}

.thirtytwo-dpi{
    grid-template-columns: repeat(32, 1fr);
}

.sixtyfour-dpi{
    grid-template-columns: repeat(64, 1fr);
}

.hundred-dpi{
    grid-template-columns: repeat(100, 1fr);
}

#sketchpad{
    gap: 1px;
    background-color: lightgray;

    /*Prevent user from dragging or selecting while drawing*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell{
    background-color: white;
}

.sixteen-dpi-cell{
    min-width: 40px;
    height: 40px;
}

.thirtytwo-dpi-cell{
    min-width: 20px;
    height: 20px;
}

.sixtyfour-dpi-cell{
    min-width: 10px;
    height: 10px;
}

.hundred-dpi-cell{
    min-width: 6px;
    height: 6px;
}

.cell:hover{
    background-color: magenta;
}

#erase{
    width:100%;
}

footer{
    opacity: 0.8;
    text-align: center;
}